.calculator {
  
    width: 250px;
    margin: 50px auto;
    background-color: #7dbefa;
    border: 2px solid rgb(12, 1, 1);
    border-radius: 5px;
    padding: 10px;
  }
  
  .screen {
    position:relative;
    justify-content: center;
    align-items: center;
    width: 100%;
   background-color: beige;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    width: 100%;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  button {
    font-size: 20px;
    padding: 10px;
    background-color: #7af8ce;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: rgb(206, 5, 5);
  }
  